
<h3>Pokémon List</h3>

<input type="text" [(ngModel)]="searchText" (input)="filterPokemon()" placeholder="Search Pokémon..." />


<div *ngIf="isLoading">Loading...</div>

<div *ngIf="filteredPokemon.length > 0" class="pokemon-grid">
  <div *ngFor="let pokemon of filteredPokemon" class="pokemon-card" [class.active]="expandedPokemonId === pokemon.id">
    <div (click)="fetchPokemonDetails(pokemon)" class="pokemon-item">
      <img [src]="pokemon.image" [alt]="pokemon.name" />
      <p>{{ pokemon.name | titlecase }}</p>
    </div>

    <p><strong>Types:</strong>
     <span *ngFor="let type of pokemon.details?.types">
       {{ typeIcons[type] || '' }} {{ type }}
     </span>
   </p>
   


    <div *ngIf="expandedPokemonId === pokemon.id" class="pokemon-details">
      <p><strong>Height:</strong> {{ pokemon.details?.height }}</p>
      <p><strong>Weight:</strong> {{ pokemon.details?.weight }}</p>
      <p><strong>Abilities:</strong> {{ pokemon.details?.abilities.join(', ') }}</p>
      <p><strong>Types:</strong> {{ pokemon.details?.types.join(', ') }}</p>


      <div *ngIf="pokemon.details">
          <p><strong>Stats:</strong></p>
          <div *ngFor="let stat of pokemon.details.stats">
            <p>{{ stat.name }}: {{ stat.value }}</p>
            <div class="progress-bar">
              <div class="progress" [style.width.%]="(stat.value / 150) * 100"></div>
            </div>
          </div>
        </div>
        



    </div>
  </div>
</div>

<div *ngIf="!isLoading && filteredPokemon.length === 0">
  <p>No Pokémon found</p>
</div>

