p {
     font-family: 'Press Start 2P', cursive;
     font-size: 12px;
     text-align: center;
   }
   

input {
     width: 100%;
     padding: 8px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
   }
   

.progress-bar {
     width: 100%;
     background: #eee;
     border-radius: 5px;
     overflow: hidden;
   }
   
   .progress {
     height: 10px;
     background: #4caf50;
     transition: width 0.3s ease-in-out;
   }
   



.pokemon-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 16px;
   }
   
   .pokemon-card {
     border: 1px solid #909090;
     padding: 16px;
     text-align: center;
     border-radius: 8px;
     width: 300px;
     cursor: pointer;
     transition: all 0.6s ease-in-out;
     display: inline-block;
   }
   
   .pokemon-card:hover {
     transform: scale(1.05);
   }
   
   
   .pokemon-details {
     background: rgba(255, 255, 255, 0.9);
     padding: 8px;
     border-radius: 8px;
     margin-top: 12px;
     font-size: 14px;
     text-align: left;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     

     opacity: 0;
     max-height: 0;
     overflow: hidden;
     transition: all 0.3s ease-in-out;
     display: block;
   }

   .pokemon-item img {
     width: 100px;
     height: 100px;
     transition: transform 0.2s ease-in-out;
   }
   
   .pokemon-item:hover img {
     transform: scale(1.2);
   }


   .pokemon-card.active .pokemon-details {
     opacity: 1;
     max-height: 1000px;
   }