.star-pattern-container {
  border: 2px solid #4CAF50; 
  padding: 20px;  
  border-radius: 8px;
  width: max-content;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;  
  text-align: center;
}


div {
     margin-bottom: 5px;
   }
   
   span {
     font-size: 20px;
     margin-left: 10px;
   }
   
   